*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/
.idea/codeStyles/
.idea/gradle.xml
.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0_jar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_0.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_0.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_0_2.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_0_2_jar.xml
.idea/libraries/Gradle__com_android_support_support_annotations_27_1_0_jar.xml
.idea/libraries/Gradle__com_android_support_support_compat_27_1_0.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_0.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_0.xml
.idea/libraries/Gradle__com_android_support_support_fragment_27_1_0.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_25_0_0.xml
.idea/libraries/Gradle__com_android_support_support_v4_25_0_0.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_0.xml
.idea/libraries/Gradle__com_google_dagger_dagger_2_11_jar.xml
.idea/libraries/Gradle__com_google_dagger_dagger_android_2_11.xml
.idea/libraries/Gradle__com_google_dagger_dagger_android_support_2_11.xml
.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_1_3_jar.xml
.idea/libraries/Gradle__com_google_guava_guava_24_1_android_jar.xml
.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1_jar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_0_0_jar.xml
.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_14_jar.xml
.idea/libraries/Gradle__org_glassfish_javax_annotation_10_0_b28_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
gradle/
libs/
src/androidTest/
src/main/res/drawable-v24/
src/main/res/drawable/
src/main/res/mipmap-anydpi-v26/
src/main/res/mipmap-hdpi/
src/main/res/mipmap-mdpi/
src/main/res/mipmap-xhdpi/
src/main/res/mipmap-xxhdpi/
src/main/res/mipmap-xxxhdpi/
src/main/res/values/colors.xml
src/main/res/values/strings.xml
src/main/res/values/styles.xml
src/test/
